.table-view {                
     fx-base: #a5a5a5;
    -fx-control-inner-background: #8fccff;
    -fx-background-color: #8fccff;
    -fx-border-color: #a5a5a5;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-row-cell:selected {

-fx-background-color: #8fccff;
-fx-table-cell-border-color: transparent;

}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 25;
    -fx-border-width: 4 4 2 4;
    -fx-background-color: #8fccff; 
    -fx-border-color: 
        #8fccff
        #8fccff
        derive(-fx-base, 80%) 
        #8fccff;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 18;
    -fx-font-family: "Times new Roman";
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-opacity: 100;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 18pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}



.button {
    -fx-padding: 5 20 5 20;   
    -fx-border-color: #a5a5a5;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #8fccff;
    -fx-font-family: "Times new Roman", Helvetica, Arial, sans-serif;
    -fx-font-size: 17pt;
    -fx-text-fill: #000000;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}


.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}